*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #02eeff;
}
.myimg{
    height: 150px;
    overflow: hidden;
}
.owl-theme .owl-nav{
    position: absolute;
    top: 25px;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.owl-theme .owl-nav [class*=owl-]{
    font-size: 50px!important;
    color: yellow!important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: rgba(0, 0, 0, 0);
}